* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: 0.5s;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", "Helvetica Neue";
}

header {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.parallax {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: relative;
  background-image: url("https://wallpaper.dog/large/17058436.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

.gradiant {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.611);
  z-index: -1;
  pointer-events: none;
}

h1 {
  font-size: 8rem;
  color: rgb(255, 255, 255);
  margin-bottom: 5rem;
}

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
}

.section--cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  justify-items: center;
  grid-auto-rows: 300px;
  margin-bottom: 5rem;
  gap: 4rem 2rem;
}

.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  /* perspectiva en 3d */
  transform-style: preserve-3d;
  transition: all .5s ease;
}

.card-content--rotate {
  /* rota el contenedor cunado le den click */
  transform: rotateY(180deg);
}

.clase {
  width: 280px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.card-content figure {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  backface-visibility: hidden;
}

.card-content figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 1rem;
}

/* filtro */
figure::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 0.8) 0%,
    rgba(33, 33, 33, 0) 100%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  pointer-events: none;
  z-index: 1;
  border-radius: 1rem;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.opacidad::before {
  background-color: rgba(0, 0, 0, 0.411);
}

.name {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 1.5rem;
  color: rgb(219, 219, 219);
  font-size: 2rem;
  font-weight: 700;
  z-index: 2;
  transition: all 0.3s ease;
}

.card-info {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(34, 41, 47, 0.97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  transition: all 0.5s ease;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.alive {
  border-bottom: 1px solid #fff;
}

.cards-info-name {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #ffe4c2;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 3.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.status-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(7, 7, 7);
  margin-right: 0.8rem;
}

.status p {
  font-size: 1.4rem;
  font-weight: 200;
}
.status-color-api {
   margin-right: 4px;
}
.ubication-1 {
  margin-top: 3rem;
}

.ubication-1 p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2rem;
  color: #fff;
}

.ubication-1 p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: 0.8rem;
  color: rgb(192, 192, 192);
}


@media screen and (max-width: 600px) {
   header {
      align-items: center;
   }

   h1 {
      text-align: center;
      font-size: 5rem;
      margin-bottom: 0;
   }
}

/* loader */

.load {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.911);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 8px;
  border: 8px solid rgb(248, 248, 248);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(219, 212, 212) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}